body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: pink;
  color: black;
}

.heading {
  background-color: rgb(255, 112, 179);
  text-align: center;
  padding: 15px;
  font-size: 25px;
  border-radius: 30px;
  width: 250px;
  margin: 0 auto;
  margin-top: 15px;
  color: white;
}

.calculator-grid {
  background-color: rgb(255, 112, 179);
  border-radius: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 5px;
  max-width: 350px;
  margin: 0 auto;
}

.calculator-grid button {
  width: 70px;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 20px;
  font-size: 20px;
  border-radius: 50px;
  border: none;
  background-color: pink;
  text-align: center;
  color: black;
}

#input-row-box {
  padding: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 50px;
  border: none;
  background-color: pink;
  width: 200px;
  color: black;
}

#input-row {
  padding-bottom: 5px;
}

#toggle {
  width: 30px;
  height: 30px;
  position: relative;
  top: -4px;
}

footer {
  text-align: center;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: rgb(255, 70, 172);
}

/* Dark theme settings */
.dark {
  background-color: #f25190;
}

.dark .heading {
  background-color: #a50041;
}

.dark .calculator-grid {
  background-color: #a50041;
}

.dark .calculator-grid button {
  background-color: #f25190;
}

.dark #input-row-box {
  background-color: #f25190;
}

.dark a {
  color: #a50041;
}
